[submodule "badkb/Flipper-Zero-BadUSB"]
	path = badkb/Flipper-Zero-BadUSB
	url = https://github.com/I-Am-Jakoby/Flipper-Zero-BadUSB.git
[submodule "subghz/SubGhz_Cust_Serv"]
	path = subghz/SubGhz_Cust_Serv
	url = https://github.com/DRA6N/SubGhz_Cust_Serv
[submodule "collections/Flipper"]
	path = collections/Flipper
	url = https://github.com/UberGuidoZ/Flipper
[submodule "collections/FlipperStuff"]
	path = collections/FlipperStuff
	url = https://github.com/Sorted1/FlipperStuff
[submodule "redfox-fz-animations"]
	path = redfox-fz-animations
	url = https://github.com/WPCMSNinja/redfox-fz-animations
[submodule "badkb/Flipper_Zero-BadUsb"]
	path = badkb/Flipper_Zero-BadUsb
	url = https://github.com/UNC0V3R3D/Flipper_Zero-BadUsb.git
[submodule "firmware/Flipper-Xtreme"]
	path = firmware/Flipper-Xtreme
	url = https://github.com/ClaraCrazy/Flipper-Xtreme
[submodule "firmware/RedFox-Flipper"]
	path = firmware/RedFox-Flipper
	url = https://github.com/WPCMSNinja/RedFox-Flipper
[submodule "firmware/flipperzero-firmware"]
	path = firmware/flipperzero-firmware
	url = https://github.com/flipperdevices/flipperzero-firmware
[submodule "firmware/flipperzero-firmware-wPlugins"]
	path = firmware/flipperzero-firmware-wPlugins
	url = https://github.com/RogueMaster/flipperzero-firmware-wPlugins
[submodule "collections/awesome-flipperzero"]
	path = collections/awesome-flipperzero
	url = https://github.com/djsime1/awesome-flipperzero
[submodule "firmware/unleashed-firmware"]
	path = firmware/unleashed-firmware
	url = https://github.com/DarkFlippers/unleashed-firmware
